.bg-azul{
    background-color: #0D1821;
}
.bg-verde{
    background-color: #3F856D;
}
.center{
   text-align: center;
}
.ff{
    font-family: 'Caveat', cursive;
    color: #E6DFCE;
}
/*Mudando a cor*/
.menu{
    background-color: rgb(63, 133, 109);
}

.color-txt{
    font-size: 14px;
    color: #E6DFCE;
    font-family: 'Quicksand', sans-serif;
}

.fs{
    font-size: 60px;
}

h4{
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color:#E6DFCE;
}
.justify{
    text-align: justify;
}
.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

.menu li{
    display: inline;
    padding: 15px;
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(63, 133, 109);
}
.menu li a{
    text-decoration: none;
    color: #E6DFCE;
    background-color: rgb(63, 133, 109);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu li a:hover{
   color: #F46036;
}

.p-30{
    padding: 30px;
}

.pt-5{
    padding-top: 15px;
}

.br-50{
    border-radius: 50%;
}

.wh-350{
    width: 350px;
    height: 350px;
}

.tm-social{
    width: 25px;
    height: 25px;
}

.mb-50 {
    margin-bottom: 50px;
}

/*Style contato*/

.ml-50{
    margin-left: 50px;;
}

.bt-c{
    background-color: rgb(63, 133, 109);
    border: none;
    width: 100%;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 58, 50); 
}
.bt-c:hover{
    color: rgb(241, 227, 144);
}

.inp-txt{
    width: 100%;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    color: #E6DFCE;
}