/*retira a mergem de toda página*/
*{
    margin: 0;      
   
}
.center{
   text-align: center;
}
.ff{
    font-family: 'Caveat', cursive;
    color: rgb(10, 58, 50);
}
/*Mudando a cor*/
.menu{
    background-color: rgb(63, 133, 109);
}

.fs{
    font-size: 60px;
}

h4{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 58, 50);
}
.justify{
    text-align: justify;
}
.container{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

.menu li{
    display: inline;
    padding: 15px;
}
.menu li a{
    text-decoration: none;
    color:  rgb(10, 58, 50);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu li a:hover{
    color: rgb(241, 227, 144);
}

.p-30{
    padding: 30px;
}

.pt-5{
    padding-top: 15px;
}

.br-50{
    border-radius: 50%;
}

.wh-350{
    width: 350px;
    height: 350px;
}

.tm-social{
    width: 25px;
    height: 25px;
}

.mb-50 {
    margin-bottom: 50px;
}
/*Style contato*/

.ml-50{
    margin-left: 50px;;
}

.bt-c{
    background-color: rgb(63, 133, 109);
    border: none;
    width: 235px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(10, 58, 50); 
}
.bt-c:hover{
    color: rgb(241, 227, 144);
}

.inp-txt{
    width: 235px;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}